* {
  box-sizing: content-box;
}
 
 img {
    width: 100%;
    height: auto;
  }

  
  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%)
    }
    100% {
      transform: translateY(0);
    }
  }
  
  body {
    font-family: "Caslon";
    margin: 0;
    background: white;
    color: black;
    font-size: 19px;
    text-align: left;
    line-height: 1.3;
  }

  .long-read {
    color: black;
  }

  a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
  }

  .diary {
    color: black;
    padding: 10px;
  }

  .meat {
    max-width: 1600px;
    margin: auto;
  }

  .featured {
    color:black;
  }

  .row .rawr {
    transition: background-color 0.4s;
  }

  .row .rawr:hover {
    background: #e0e0e0;
  }

  .featured img, .diary img {
    margin: 20px 0 0 0;
    height: 250px;
    object-fit: cover;
  }

  .feat-title {
    height: 250px;
  }

  .diary-title {
    height: 100px;
  }

  
  .featured a:link, a:visited, a:active {
    text-decoration: none;
    color:black;
  }

  h2 {
    transition: color 0.3s;
    font-family: "Cheltenham Bold";
    font-weight: normal;
    font-size: 28px;
  }

  h3 {
    transition: color 0.3s;
    font-family: "Cheltenham Bold";
    font-weight: normal;
    font-size: 28px;
  }

  h3:hover {
    color: #b0b0b0;
    cursor: pointer;
  }

  .spill {
    color: black;
    padding: 20px;
  }
  
  .spill a:link, a:visited, a:active {
    text-decoration: none;
    color:black;
  }

  #table_id {
    display: block;
    table-layout: fixed;
    width: 100%;
  }

  #table_id td {
    width: 50%;
    vertical-align: top;
    margin: 20px 0 20px 0;
    padding: 20px;
  }

  .spill tr {
    background-color: transparent;
  }

  .spill .rawr {
    transition: background-color 0.4s;
  }

  .spill .rawr:hover {
    background-color: #e0e0e0;
  }
  
  @media screen and (max-width: 700px) {
    #table_id td {
      width: 100%;
      padding: 0;
    }

    .long-read {
      padding: 0;
    }
  }

  .spill h3 {
    font-family: "Cheltenham Bold";
    font-weight: normal;
    font-size: 28px;
  }
  
  .spill img {
    width: 400px;
    height: auto;
    object-fit: contain;
  }

  @media screen and (max-width: 1200px) {
    .featured, .feat-title, .diary img {
      height: auto;
    }

    .diary {
      padding: 0;
    }
  }

  .photo-credit {
    font-family:Work Sans;
    font-size:14px;
    text-align: left;
    margin: 0 0 2%;
    font-weight: normal;
  }

  .author {
    font-family: "Work Sans";
    font-size: 14px;
    margin: 0;
  }

  p i {
    font-family: "Caslon Italic";
    font-style: normal;
  }
  
  .content {
    margin-top: 100px;
    z-index: -1;
  }

  .slide {
    animation: 1s ease-out 0s 1 slideInFromBottom;
  }

  a.fill-div {
      display: table;
      width: 100%;
      text-decoration: none;
  }
  
  .header {
    text-align: center;
    color: black;
    background-repeat: no-repeat;    
    vertical-align: middle;
    max-width: 1600px;
    margin: auto;
    padding:2% 0 2% 0;
  }

  .header h1 {
    font-family: "Cheltenham Std Light";
    font-weight: normal;
    font-size: 50px;
  }
  
  .navbar {
    overflow: hidden;
    background: white;
    z-index: 5;
    position: sticky;
    top: 0;
    font-family: "Work Sans";
    filter: drop-shadow(0 0 0.1rem grey);
    padding: 20px 10px;
  }
  
  .navbar a {
    float: left;
    display: block;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
  }

  .navbar-left a {
    float: left;
    box-shadow: inset 0 0 0 0 #e0e0e0;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .navbar-left a:hover {
    box-shadow: inset 600px 0 0 0 #e0e0e0;
  }

  .navbar-right {
    float: right;
    transition: color 0.5s ease-in-out;
  }

  .navbar-right a:hover {
    color: grey;
  }

  #logo {
    transition: 0.4s;
  }
  
  .subheading {
    padding: 0 20px 0 20px;
  }

  .subheading h2 {
    font-family: "Cheltenham Bold";
    font-weight: normal;
    font-size: 36px;
    margin: 20px 0 0 0;
  }

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .left, .main, .right, .right-2 {
    padding: 20px;
  }
    
  .openbtn {
    display: none;
  }
  
  @media screen and (max-width: 1200px) and (min-width: 700px) {
    .row {
      flex-direction: column;
      padding: 10px;
    }
  }

  @media screen and (max-width: 700px) {

    .row {
      flex-direction: column;
      padding: 10px;
    }

    .left, .main, .right {
      padding-left: 1%;
      padding-right: 1%;
    }

    .navbar-right {
      display: none;
    }

    .spill {
      padding: 0;
    }

    .spill img {
      width: 100%;
      height: auto;
    }
  
    .openbtn {
      display: inline-block;
      cursor: pointer;
      background-color: transparent;
      padding: 10px 10px;
      border: none;
    }
    
    #main {
      transition: margin-top .5s;
      padding: 16px;
    }

    .navbar a, .navbar-right {
      float: none;
      display: block;
    }

    .navbar a {
      float: none;
      width: 100%;
    }

  }
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: "Cheltenham Tooled Bold";
  }
  
  .countup {
    text-align: left;
    margin-bottom: 20px;
  }
  .countup .timeel {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    min-width: 2.6rem;
    margin-left: 13px;
    border-radius: 10px 0 0 10px;
    font-size: 40px;
  }
  .countup span[class*="timeRef"] {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    font-size: 20px;
  }
  
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .blink {
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }

  @keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }

.korean-title {
  font-family: 'Song Myung';
}

.korean-text {
  font-family: 'Noto';
}