
@font-face {
    font-family: 'Bodoni MT Poster Compressed';
    src: url('BOD_PSTC.TTF') format('truetype');
  }
      
@font-face {
    font-family: 'Bodoni MT Condensed';
    src: url('bod_cr.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'Bodoni MT';
    src: url(BOD_R.TTF) format('truetype');
  }
  
  
 * {
    box-sizing: content-box;
  }
  
  img {
    width: 100%;
  }
  
  @media (min-width: 1200px) {
    .img {
      float: right;
      width: 200px;
      margin-left: 50px;
      padding-left: 50px;
    }
  }
  
  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }
  
  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%)
    }
    100% {
      transform: translateY(0);
    }
  }
  
  body {
    margin: 0;
    font-size: 17px;
    background-color: #1f1f1f;
    color: white;
    text-align:left;
    font-family: 'Helvetica';
  }

  .slide {
    animation: 1s ease-out 0s 1 slideInFromBottom;
  }

  a.fill-div {
      display: block;
      width: 100%;
      text-decoration: none;
  }
  
  .header {
    padding: 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  
  .navbar {
    overflow: hidden;
    background-color: transparent;
  }
  
  .navbar a {
    float: left;
    display: block;
    text-align: left;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
  }
  
  .navbar a:hover {
    color: rgb(171, 171, 171);
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 50%; 
    padding: 20px;
  }
  
  .main {
    flex: 50%; 
    padding: 20px;
  }
  
  @media screen and (max-width: 1200px) and (min-width: 700px) {
    .row {
      flex-direction: column;
      padding: 10px;
    }
  }

  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
      padding: 10px;
    }

    .side {
      padding-left: 1%;
      padding-right: 1%;
    }
    
    .main {
      padding-left: 1%;
      padding-right: 1%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 50px;
  }
  
  .countup {
    text-align: left;
    margin-bottom: 20px;
  }
  .countup .timeel {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: rgb(255, 102, 102);
    min-width: 2.6rem;
    margin-left: 13px;
    border-radius: 10px 0 0 10px;
    font-size: 40px;
  }
  .countup span[class*="timeRef"] {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    font-size: 20px;
    
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  a:link, a:hover, a:visited, a:active {
    color:white;
    text-decoration: none;
  }
    