* {
  box-sizing: content-box;
}
    
 
 img {
    width: 100%;
  }
  
  body {
    font-family: "Caslon";
    margin: 0;
    background-color: white;
    color: black;
    font-size: 19px;
    text-align: left;
    line-height: 1.3;
  }

  p i {
    font-family: "Caslon Italic";
    font-style: normal;
  }

  .photo-credit {
    font-family:Work Sans;
    font-size:14px;
    text-align: left;
    margin: 0 0 10%;
  }

  .photo-credit i {
    font-size: 18px;
  }

  a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    transition: color 0.4s;
    color: black;
}

  .author {
    font-family: Work Sans;
    font-size: 16px;
  }
  
  .header {
    padding-bottom: 5px;
    text-align: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: contain;
    background-position: center;
    height: 400px;
    background-color: black;
    padding: 0;
  }
  
  .navbar {
    overflow: hidden;
    background: white;
    z-index: 5;
    position: sticky;
    top: 0;
    font-family: "Work Sans";
    filter: drop-shadow(0 0 0.1rem grey);
    padding: 20px 10px;
    transition: 0.4s;
  }
  
  .navbar a {
    float: left;
    display: block;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .navbar-left a {
    float: left;
    box-shadow: inset 0 0 0 0 #e0e0e0;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .navbar-left a:hover {
    box-shadow: inset 600px 0 0 0 #e0e0e0;
  }

  .navbar-right {
    float: right;
    transition: color 0.5s ease-in-out;
  }

  .navbar-right a:hover {
    color: grey;
  }

  #logo {
    transition: 0.4s;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
  }
  
  /* columns */
  /* left */
  .side {
    flex: 30%; /* Set the width of the sidebar */
    padding: 20px;
  }
  
  /* right */
  .main {
    flex: 70%; /* Set the width of the main content */
    padding: 20px;
    padding-right: 28%;
  }

  .right {
    padding: 20px;
  }

  h2 {
    font-family: "Cheltenham Bold";
  }

  .side h3, .main h3 {
    color:#dd7e6b;
    font-family: "Work Sans";
    font-weight: normal;
    font-size: 16px;
    margin-bottom: -10px;
  }
  
  .padded-dropcap {
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    position: relative;
    top: -0em;
    margin-bottom: -0.5em;
    margin-left: -6px;
    margin-right: 2px;
    font-size: 50px;
    font-family: "Caslon"
  }
  
  .openbtn {
    display: none;
  }
  
  /* stack row */
  @media screen and (max-width: 1200px) and (min-width: 700px) {
    .row {
      flex-direction: column;
    }

    .side {
      padding-right: 20%
    }
  }

  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
      padding: 10px;
    }

    .side, .main {
      padding: 0 10px 0 10px;
    }

    .openbtn {
      display: inline-block;
      cursor: pointer;
      background-color: transparent;
      padding: 10px 10px;
      border: none;
    }

    .navbar-right {
      display: none;
      float: left;
    }
    
    .openbtn:hover {
      font-size: 24px;
    }
    
    #main {
      transition: margin-top .5s;
      padding: 16px;
    }
  }
  
  /* stack navbar */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: "Cheltenham Tooled Bold";
  }

  .blink {
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }

  @keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .korean-title {
    font-family: 'Song Myung';
  }
  
  .korean-text {
    font-family: 'Noto';
  }